<a href="https://colab.research.google.com/github/ShreyPandit/CTE-Intro-to-ML-and-DL/blob/main/Week_01/CTE_Week1_lec2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Python3 Programming Language

Note: String Slicing was not covered in the lectures. Please go through the code below. In case of doubts in the code - 1) Try Googling (2)Feel free to dm one of us for further clarifications.

In [ ]:
#running in collab
1+2

3

In [ ]:
#print statements
print("hello")
print(1+2)

hello
3

## Some programming background and Languages

In [ ]:
x = 1
y = 2
print("sum of x & y = ",x + y,  )
print("product of x & y = ",x * y)
print("Divide x by y = ",x / y)
print("Integert Divide x by y = ",x// y)
print("x to the power of y = ",x**y)

sum of x & y =  3
product of x & y =  2
Divide x by y =  0.5
Integert Divide x by y =  0
x to the power of y =  1

In [ ]:
print(5//2)

2

## Functions

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [ ]:
def add_numbers(x, y):
    return x + y

k = add_numbers(1, 2) #the output of function is what is in front of return statement
k

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag): #if statements , elif , and else statements
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True)) #or be called as
print("=======")
print(add_numbers(1, 2, None, True)) #or be called as
print("=======")
print(add_numbers(1, 2, flag = True, z = None))

<br>
Keyword arguments only after Non_Keyword arguements. ( Default arguments should follow non default )

In [ ]:
def add_numbers(x, z=None,y, flag=False): #Throws error.
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z

Why?

In [ ]:
def fun1(a="who is you", b="True", x, y):
  print (a,b,x,y)

func1("ok a", "ok b", 1)  # Is 1 assigned to x or ?
func1(1)                  # Is 1 assigned to a or ? This is the reason why Default args should follow non-default. 
func1(1, 2)

SyntaxError: ignored

<br>
Assign function `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers #Assigned the function ,but not called
a(1,2) #Now called

<br>
Any number of non-keyword arguements to `add_numbers`

In [ ]:
def add_number(*args):
    summer = 0
    #print(type(args))
    for elems in args:
        summer = summer + elems
    return summer
print(add_number(1,2,3,4,5))

<br>
Similarly any number of keyword arguements to `add_numbers` but most follow non_keyword arguments (Note there can be only keyword arguements)

In [ ]:
def add_number(*args, **kwargs):
    summer1 = 0
    summer2 = 0
    print(type(args)) #A tuple will come back later
    print(type(kwargs)) # A dict will come back later
    for elems in args:
        summer1 = summer1 + elems
    for items in kwargs:
        summer2 = summer2 + kwargs[items]
    return summer1, summer2
print(add_number(a=2, b=3, c=3)) #Returning a tuple

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

**The Python Programming Language: Types and Sequences**

<br>
Use `type` to return the object's type.

### String : Collection of Characters, Characters are stored as integers (Python Uses Unicode to store strings)

In [ ]:
a="hello"
print(type(a))

<class 'str'>

In [ ]:
type('This is a string')

str

In [ ]:
ord('A') #UTF-8 / Ascii value of character A. Read further on ascii and utf-8

65

In [ ]:
type(None)

NoneType

In [ ]:
type(1)

int

In [ ]:
type(1.0)

float

In [ ]:
type(add_numbers)

function

<br>
``Tuples`` are collection of Python data types(int,char,str,float).
No alteration allowed ( IMMUTABLE ).
Useful for things you want to remain unchanged throughout code.

In [ ]:
z=(1,"a")
print(type(z))

<class 'tuple'>

In [ ]:
x = (1, 'a', 2, 'b') #initiated by ()
type(x)

tuple

In [ ]:
print(id(x)) #To check uniqueness
y = x
print(id(y))

140125374833432
140125374833432

<br>
``Lists`` on the other hand are the alterable version on ``Tuples``.Super-Powerful alterations though

In [ ]:
x = [1, 'a', 2, 'b'] #[]
type(x)

list

In [ ]:
print(id(x))
x.append('c')
print(id(x))

140125242345992
140125242345992

In [ ]:
x[3]

'b'

In [ ]:
y = x #Creates a reference to x

In [ ]:
print(id(x))
print(id(y))

140125374994056
140125374994056

<br>
Use `append` to append an object to a list.

In [ ]:
print(x.append(3.3)) #Is append is a function that changes x in memory but returns None
print(x)

None
[1, 'a', 2, 'b', 3.3]

DICTIONARY-
1) Unordered - stored not in the same way data is added
 (2)Key - Value Data structure
  (3)Dictionary keys are unique

In [ ]:
dict = { 1:"apple" ,2:"mango" , 3:"strawberry"}
print(type(dict))

<class 'dict'>

In [ ]:
dict.keys()

dict_keys([1, 2, 3])

In [ ]:
#dict[key]=value

In [ ]:
dict[4]="green apple"
print(dict)

{1: 'apple', 2: 'mango', 3: 'strawberry', 4: 'green apple'}

In [ ]:
dict.values()

dict_values(['apple', 'mango', 'strawberry', 'green apple'])

In [ ]:
dict.items()

dict_items([(1, 'apple'), (2, 'mango'), (3, 'strawberry'), (4, 'green apple')])

In [ ]:
dict["t"]=5

In [ ]:
for k,v in dict.items():
    print (k,v)

1 apple
2 mango
3 strawberry
4 green apple
t 5

<br>
This is an example of how to loop through each item in the list.

In [ ]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

<br>
Use `+` to concatenate lists.

In [ ]:
x = [1,2] + [3,4]

In [ ]:
x = [1,2]
print(id(x))
y = x + [3,4] #This alteration happens in a seperate memory location. 
print(id(y))

140125243449544
140125400038664

<br>
Use `*` to repeat lists.

In [ ]:
[1]*3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [ ]:
1 in [1, 2, 3]

True

### String Slicing
<br>
Now let's look at strings. Use bracket notation to slice a string.

In [ ]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #[first_element_index_to_include:first_element_index_to_exclude]
print(x[0:2]) #[first_element_index_to_include:first_element_index_to_exclude]

T
T
Th

<br>
This will return the last element of the string.

In [ ]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

'ri'

In [ ]:
x[-4:-6] #Exclusion rule overrides inclusion. note:step is 1

''

In [ ]:
x[-4:-6:-1]

'rt'

In [ ]:
x[-1::-1] #Inverto

'gnirts a si sihT'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [ ]:
x[3:]

's is a string'

In [ ]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

<br>
`split` is a function that returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ') # [0] selects the first element of the list
lastname = 'Christopher Arthur;Hansen Brooks'.split(';') # [-1] selects the last element of the list
print(firstname)
print(lastname)

['Christopher', 'Arthur', 'Hansen', 'Brooks']
['Christopher Arthur', 'Hansen Brooks']

<br>
Make sure you convert objects to strings before concatenating.

In [ ]:
'Chris' + 2

TypeError: Can't convert 'int' object to str implicitly

In [ ]:
'Chris' + str(2) #or '2'

'Chris2'

<br>
``Dictionaries`` are too good. More interesting in reading material. Key left, value to the right, Key cant be repeated

In [ ]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [ ]:
x['Kevyn Collins-Thompson'] = None #Add a key-value pair
x['Kevyn Collins-Thompson']

<br>
Iterate over all of the keys:

In [ ]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

<br>
Iterate over all of the values:

In [ ]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

<br>
Iterate over all of the items in the list:

In [ ]:
for name, email in x.items(): #returns tuples at each round of loop
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

<br>
You can unpack a sequence into different variables:

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [ ]:
fname

'Christopher'

In [ ]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

<br>
# The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

1611237124.33

<br>
Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 7, 20, 12, 47, 32, 822517)

In [ ]:
type(dtnow) #Is an object of class datetime

datetime.datetime

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2016, 10, 26, 13, 42, 18)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()
today

datetime.date(2018, 7, 20)

In [ ]:
today - delta # the date 100 days ago

datetime.date(2018, 4, 11)

In [ ]:
today > today-delta # compare dates

True

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

### Python has almost everything as an object. Even functions!!

In [ ]:
class Person:
    department = 'School of Information' #a class variable(common to all objects of the class Person)
    def __init__(self,*args,**kwargs):
        pass

    def set_name(self, new_name): #a method (function of an object nothing fancy)
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person1 = Person() #Initiaites the init function. With first arguement as itself(person1)

In [ ]:
person1.set_name('Christopher Brooks')
person1.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person1.name, person1.location, person1.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

<br>
Here's an example of mapping the `min` function between two lists.

In [ ]:
??map

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest #Returns object of class map, is iteratable

<br>
Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b #Function with name lamda taking arguement a,b,c returning a + b

### Why use lambda?? Short , Crisp and Very handy when dealing with data wrangling when we need to perform real simple and quick tasks. You'll get used to it

In [ ]:
my_function(1, 2, 3) #Calling the function

3